:root {
  --font-geist-sans: 'Geist Sans', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
}

.container {
  width: 375px;
  margin: 0 auto;
  padding: 26px 24px 230px 24px;
}

.header {
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-bottom: 32px;
}

.Startcontainer p {
  margin-bottom: 40px;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: var(--Grey-Navy, #626C7F);
}

.categoryItem {
  display: flex;
  align-items: center;
  box-shadow: 0px 16px 40px 0px #8FA0C124;
  width: 327px;
  padding: 12px 12px;
  gap: 16px;
  border-radius: 12px;
  background-color: #ffff;
  margin-bottom: 12px;
  border: 2px solid #ffff;
  h3{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    color: #313E51;
  }
}

.StartHeader h5 {
  font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    color: #313E51;
}

.category-icon img{
  padding: 5px 5px;
  border-radius: 8px;
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.quiz-selector button {
  margin-bottom: 12px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
